body {
  padding: 0;
  margin: 0;
  font-family: "Jacques Francois", serif;
  background-color: rgb(209, 208, 208);
}
.ParaFixed {
  height: 83px;
  width: 90%;
}
#contenedorPrincipal {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*header*/
.header {
  width: 100%;
  height: 5rem;
  box-sizing: border-box;
  background-color: #becfab;
  position: fixed;
  z-index: 1030;
}
.ContenedorNombreRest {
  width: 30%;
  height: 3rem;
  box-sizing: border-box;
}
#nombreRestaurante {
  font-family: "Italianno", cursive;
  font-size: 2.5rem;
  color: #44664b;
  text-decoration: none;
  box-sizing: border-box;
}

.nav-link {
  font-style: normal;
  font-size: 1.3rem;
  line-height: 47px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #f9fffa;
  cursor: pointer;
  padding-right: 1.5rem !important;
}
.nav-link:hover {
  color: #44664b;
}
.reserva {
  background-color: #44664b !important;
}
.btnPrev,
.btnNext {
  color: rgb(247, 183, 66) !important;
  width: 45%;
  height: 45%;
  opacity: 1 !important;
  box-sizing: content-box !important;
}

.carousel-control-next,
.carousel-control-prev,
.btnPrev::after,
.btnPrev::before {
  opacity: 1 !important;
}
/* fin header */



/* menu principal inicio */

.titulo {
  color: IndianRed;
  background-color: white;
  text-align: center;
  border: 1px solid white;
  position: sticky;
  top: 85px;
  z-index: 2;
}
.btn-outline-success:hover {
  background-color: #becfab;
}
#leyenda {
  background-color: rgb(247, 183, 66) !important;
  color: #44664b;
  font-size: 1.2rem;
}

/* FIN menu principal inicio */

/* menu principal reserva */
.contenedorUbicacion {
}
iframe {
  width: 100%;
  filter: invert(100%);
}

.contenedorFormulario {
  background-color: #becfab3b;
}
option[value=""][disabled] {
  display: none;
}
.modal-open .container-fluid,
.modal-open .container {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
#fecha {
  color: #44664b;
  font-weight: 900;
}

/* fin menu principal reserva */

/*menu principal sobreNosotros*/
#sobreNosotrosContenido {
  font-size: 2rem;
  font-family: "Jacques Francois", serif;
  color: #44664b;
}
#sobreNosotrosContenido h2 {
  font-size: 1.6rem;
}
/*fin menu principal sobre nosotros*/

#footer {
  height: auto;
  color: #44664b;
  align-items: center;
}
.contenidoFooter {
  background-color: white;
  height: auto;
  font-size: 1rem;
}
#miMenu {
  color: white !important;
  font-size: 2rem !important;
}
#obligatorio {
  display: none;
}

/* Responsive */
@media (max-width: 765px) {
  #nombreRestaurante {
    font-size: 2.5rem;
  }
  .nav-link {
    font-size: 1.2rem;
    line-height: 36px;
  }

  .galeriaDeImagenes {
    width: 100% !important;
  }
  #leyenda {
    font-size: 1rem;
    text-align: center;
  }
  .contenidoFooter {
    flex-direction: column !important;
    text-align: center;
    line-height: 0.8rem !important;
    box-sizing: content-box;
  }

  .btnPrev,
  .btnNext {
    color: rgb(247, 183, 66) !important;
    width: 35% !important;
    height: 35% !important;
    padding: 20% !important;
    opacity: 1 !important;
  }

  .contenedorUbicacion {
    width: 100% !important;
    height: 10% !important;
  }
  iframe {
    width: 100%;
    height: inherit;
  }
  .leyendaReservar h3,
  .leyendaReservar h5 {
    font-size: 1.2rem !important;
  }
  .contenedorReservar {
    width: 100% !important;
  }
  .reserva {
    padding: 5px !important;
    font-size: 0.9rem;
  }
  #sobreNosotrosContenido {
    font-size: 1.2rem;
  }
  #sobreNosotrosContenido h2 {
    font-size: 1rem;
  }
  .contenedorFormulario {
    padding: 10px !important;
  }
}
