:root{
  --header: #becfab;
  --backgroundPagina: rgb(209, 208, 208);
  --black: black;
  --white: white;
  --colorPrincipal: #44664b; 
  --fontPrincipal: "Jacques Francois", serif;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--fontPrincipal);
  color: var(--black);
  background-color: var(--backgroundPagina);
  box-sizing: border-box;
}
.ParaFixed {
  height: 96px;
  width: 90%;
}
#contenedorPrincipal {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*header*/
.header {
  width: 100%;
  height: 6rem;
  background-color: var(--header);
  position: fixed;
  z-index: 1030;
  padding: 0;
}
.linkLogo {
  width: 40%;
  height: 6rem; 
}
.contenedorLogo {
  width: 20%;
  height: inherit;
}
.nombreLogo {
  width: 100%;
  height:inherit;
}

.nav-link {
  font-style: normal;
  font-size: 1.3rem;
  line-height: 47px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #f9fffa;
  cursor: pointer;
  padding-right: 1.5rem !important;
}
.nav-link:hover {
  color: var(--colorPrincipal);
}
.reserva {
  background-color: var(--colorPrincipal) !important;
}
.btnPrev,
.btnNext {
  color: rgb(247, 183, 66) !important;
  width: 45%;
  height: 45%;
  opacity: 1 !important;
  box-sizing: content-box !important;
}

.carousel-control-next,
.carousel-control-prev,
.btnPrev::after,
.btnPrev::before {
  opacity: 1 !important;
}
/* fin header */



/* menu principal inicio */

.titulo {
  color: IndianRed;
  background-color: var(--white);
  text-align: center;
  margin-bottom: 0;
  position: sticky;
  top: 100px;
  z-index: 2;
}

#leyenda {
  background-color: rgb(247, 183, 66) !important;
  color: var(--colorPrincipal);
  font-size: 1.2rem;
}

/* FIN menu principal inicio */

/* menu principal reserva */
.contenedorUbicacion {
}
iframe {
  width: 100%;
  filter: invert(100%);
}

.contenedorFormulario {
  background-color: #becfab3b;
}
option[value=""][disabled] {
  display: none;
}
.modal-open .container-fluid,
.modal-open .container {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
#fecha {
  color: var(--colorPrincipal);
  font-weight: 900;
}

/* fin menu principal reserva */

/*menu principal sobreNosotros*/
#sobreNosotrosContenido {
  font-size: 2rem;
  color: var(--colorPrincipal);
}
#sobreNosotrosContenido h2 {
  font-size: 1.6rem;
}
/*fin menu principal sobre nosotros*/

#footer {
  height: auto;
  color: var(--colorPrincipal);
  align-items: center;
}
.contenidoFooter {
  background-color: var(--white);
  height: auto;
  font-size: 1rem;
}
#miMenu {
  color: var(--white) !important;
  font-size: 2rem !important;
}
#obligatorio {
  display: none;
}
#contenedorLogoEnReserva .nombreLogo{
  display: none;
}

/* Responsive */
@media (max-width: 765px) {
  #nombreLogo {
    display: none;
  }
  .nav-link {
    font-size: 1.2rem;
    line-height: 36px;
  }

  .galeriaDeImagenes {
    width: 100% !important;
  }
  #leyenda {
    font-size: 1rem;
    text-align: center;
  }
  .contenidoFooter {
    flex-direction: column !important;
    text-align: center;
    line-height: 0.8rem !important;
    box-sizing: content-box;
  }

  .btnPrev,
  .btnNext {
    color: rgb(247, 183, 66) !important;
    width: 35% !important;
    height: 35% !important;
    padding: 20% !important;
    opacity: 1 !important;
  }

  .contenedorUbicacion {
    width: 100% !important;
    height: 10% !important;
  }
  iframe {
    width: 100%;
    height: inherit;
  }
  .leyendaReservar{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .leyendaReservar h3,
  .leyendaReservar h5 {
    font-size: 1.2rem !important;
  }
  .contenedorReservar {
    width: 100% !important;
  }
  .reserva {
    padding: 5px !important;
    font-size: 0.9rem;
  }
  #sobreNosotrosContenido {
    font-size: 1.2rem;
  }
  #sobreNosotrosContenido h2 {
    font-size: 1rem;
  }
  .contenedorFormulario {
    padding: 10px !important;
  }
  #contenedorLogoNav .nombreLogo{
    display: none;
  }
  #contenedorLogoEnReserva{
    display: flex;
    justify-content: center;
    width: 56%;
    
  }
  #contenedorLogoEnReserva .nombreLogo{
    display: block;
    width: inherit;
    
  }
}
